@media all and (max-width: 770px) {
/* Instruments */
.container{
    max-width: 1500rem;
    margin: 0 auto;
}
.btn{
    font-size: 48rem;
    padding: 50rem 100rem;
}
.title{
    font-size: 144rem;
}
section{
    margin-top: 480rem;
}
.intro{
    margin-top: 0;
}
/* Header */
    
    header{
        position: relative;
    }
    
    .checkbox{
        display: inline-block;
    }
    .checkbox.active::before{
        transform: translate(0, 15rem) rotate(45deg);
    }
    .checkbox.active::after{
        transform: translate(0, -15rem) rotate(135deg);
    }
    .header__content{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 100rem;
        margin-bottom: 150rem;

    }
    .header__nav{
        margin-top: 30rem;
        margin-right: 20rem;
        display: none;
    }
    .header__nav.active{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .header__a{
        font-size: 54rem;
    }
    
    .header__logo{
        display: none;
    }
    .header__main{
        display: block;
    }


    /* Footer */
    .footer__content{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer__items{
        margin-top: 100rem;
        text-align: start;
    }
    .footer__items:nth-child(even){
        width: 710rem;
    }
    .footer__items:nth-child(odd){
        width: 710rem;
    }
    .footer__text{
        font-size: 44rem;
    }
    .footer__icons__box{
        width: 150rem;
        height: 150rem;
    }
    .footer__icons{
        width: 70rem;
    }
}